<div class="fees-page">
  <div class="page-header">
    <h2>Fee Details for {{ student?.studentName }}</h2>
    <p><b>Note: Student Admission Date {{ student?.admissionDate }}</b></p>
  </div>

  <table class="fees-table" >
    <thead>
    <tr>
      <th>#</th>
      <th>Month</th>
      <th>Fees Paid Date</th>
      <th>Paid Amount</th>
      <th>Status</th>
      <th>Received By</th>
      <th>Payment Mode</th>
      <th>Comment</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let f of allFees; let i = index">
      <td>{{ i + 1 }}</td>
      <td data-label="Month">{{ f.month }}</td>
      <td data-label="Payment Date">
        <input type="date" [(ngModel)]="f.paymentDate" name="paymentDate{{i}}">
      </td>
      <td data-label="Paid Amount">
        <input type="number" [(ngModel)]="f.paidAmount" name="paidAmount{{i}}">
      </td>
      <td data-label="Status">
        <select [(ngModel)]="f.status" name="status{{i}}">
          <option value="ALL">All Status</option>
          <option value="PAID">Paid</option>
          <option value="DUE">Due</option>
          <option value="FISBILILLAH">Fi Sabilillah</option>
        </select>
      </td>
      <td data-label="Received By">
        <input type="text" [(ngModel)]="f.recordedBy" name="recordedBy{{i}}" autocomplete="off">
      </td>
      <td data-label="Payment Mode">
        <select [(ngModel)]="f.paymentMode" name="paymentMode{{i}}">
          <option value="ONLINE">ONLINE</option>
          <option value="UPI">UPI</option>
          <option value="CASH">CASH</option>
        </select>
      </td>
      <td data-label="Remark">
        <input type="text" [(ngModel)]="f.remark" name="remark{{i}}" autocomplete="off">
      </td>
      <td>
        <button class="notify-btn"  (click)="f.id==null?addFee(f):editFee(f)">Save/Edit</button>
        <button class="bg-warning"  *ngIf="f.id!=undefined" (click)="deleteFee(f)">Delete</button>

      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3"><b>Total Fees Paid:</b></td>
      <td colspan="6"><b>Rs. {{ calculateTotalFeesPaid(student) }}/-</b></td>
    </tr>
    <tr>
      <td colspan="3"><b>Total Fees Pending:</b></td>
      <td colspan="6"><b>Rs. {{ calculateTotalFeesPending(student) }}/</b></td>
    </tr>
    </tfoot>
  </table>

  <div class="action-buttons-left">
    <button appBackButton class="btn btn-secondary">Back</button>
    <button class="notify-btn" (click)="notifyParents()">Notify Parents/Guardian</button>
  </div>
</div>
